main {
    flex: 1;
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    height: 15%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: purple;
    
}

footer {
    height: 15%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: purple;
}

nav { 
    width: 20%;
    background-color: red;
}
   

aside {

    width: 20%;
    background-color: red;

}

section {

    flex: 1;
    background-color: orange;
    padding-top: 50%;
    padding-bottom: 50%;
}